[*.cs]

# CS0006: Metadata file 'C:\Users\Jazz\Documents\Repos\JW Programming Exercise\JW Programming Exercise\bin\Debug\JW Programming Exercise.exe' could not be found
dotnet_diagnostic.CS0006.severity = none
